*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
:root
{
    --pink: #FF8984;
    --white: #FFFFFF;
    --grey: #9B96AC;
    --background: #3B3F45;
    --background-header: #4A4F56;
    --item-background: #88839E;
    --checked-item: #7A7593;
}
input[type="checkbox"]:hover
{
    cursor: pointer;
    user-select: none;
}
input[type="checkbox"]:checked
{ 
    filter: invert(100%) hue-rotate(300deg) brightness(3)
}
label:hover
{
    cursor: pointer;
    user-select: none;
}
.wrapper
{
    background-color: var(--background);
    max-width: 793px;
    margin: 0 auto;
}
.wrapper::before
{
    content:"";
    background-color:var(--background);
    position: absolute;
    height: 100%;
    width: 1000vw;
    left: -200vh;
    z-index: -1;
}
.pink
{
    color: var(--pink);
}
.bar
{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 276px;
    min-height: 28px;
    background-color: var(--background-header);
    margin: 0px 0px 20px;
}
.bar::before
{
    content:"";
    background-color:var(--background-header);
    position: absolute;
    height: 82px;
    width: 200vw;
    left: -100vw;
    z-index: -1;
}
.bar__title
{
    margin: 19px 0px 0px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.bar__sub-title
{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0px 0px 12px;
}
.dinner
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    max-width: 534px;
    background-color: var(--item-background);
    margin: 0 auto;
    margin-bottom: 45px;
}
.dinner__list
{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    list-style-type: none;
    max-width: 534px;
}
.dinner__item
{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--item-background);
    min-height: 45px;
    max-width: 543px;
}
.dinner__item:hover
{
    cursor: pointer;
}
.dinner__item:hover
{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.dinner__item:nth-child(2)
{
    background-color: var(--checked-item);
    color: var(--grey);
    text-decoration: line-through;
}
.dinner__item:nth-child(4)
{
    background-color: #625E77;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
}
.dinner__item:nth-last-child(1)
{
    background-color: var(--checked-item);
    color: var(--grey);
    text-decoration: line-through;
}
.dinner__checkbox
{
    min-height: 19px;
    min-width: 19px;
    margin: 12px 16px 12px 14px;
}
.dinner__item-text
{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--white);
}
.dinner__item-subtext
{
    font-weight: 400;
    font-size: 11px;
    line-height: 21px;
    margin: 0px 0px 0px 3px;
    color: var(--white);
}
.button-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 45px;
}
.button-container__submit
{
    min-height: 45px;
    width: 534px;
    color: var(--pink);
    background-color: var(--background-header);
    border-style: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}