*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
a
{
    color: inherit;
}
button
{
    cursor: pointer;
}
.container
{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}
.header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 70px;
}
.header__container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 0px 0px;
}
.header__menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 197px;
}
.header__menu-logo
{
    background-image: url(../src/img/Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 200px;
    min-height: 32px;
}
.header__menu-items
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header__menu-items-text
{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
}
.header__menu-items-link:hover
{
    color: #FF9900;
}
.header__buttons
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.header__buttons-sign-in
{
    min-width: 110px;
    min-height: 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}
.header__buttons-sign-up
{
    min-width: 110px;
    min-height: 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background: #FF9900;
    border-radius: 4px;
    border: none;
}
.hero
{
    padding: 0px 0px 100px;
}
.hero__container
{
    display: flex;
    flex-direction: row;
    gap: 56px;
}
.hero__about
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 500px;
    margin: 97px 0px;
}
.hero__about-title
{
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin: 0px 0px 30px;
}
.hero__about-description
{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0px 0px 20px;
}
.hero__about-button
{
    max-width: 180px;
    min-height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: white;
    background: #FF9900;
    border: none;
    border-radius: 4px;
    margin: 0px 0px 97px;
}
.hero__image
{
    display: flex;
    max-width: 644px;
}