*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root
{
    --title-color: #2F281E;
    --decription-color: #544837;
    --link: #FF9900;
    --border: #BCD0E5;
    --white: #fff; 
}
a
{
    color: inherit;
}
button
{
    cursor: pointer;
}
.container
{
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}
.header
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 0px 70px;
}
.header__container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 0px 0px;
}
.header__menu
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 197px;
}
.header__menu-logo
{
    background-image: url(../src/img/Logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 200px;
    min-height: 32px;
}
.header__menu-items
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.header__menu-items-text
{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2F281E;
}
.header__menu-items-link:hover
{
    color: var(--link);
}
.header__btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.header__btn-sign-in
{
    min-width: 110px;
    min-height: 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0);
    border: 1px solid var(--border);
    border-radius: 4px;
}
.header__btn-sign-up
{
    min-width: 110px;
    min-height: 46px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    background: var(--link);
    border-radius: 4px;
    border: none;
}
.hero
{
    padding: 0px 0px 99px;
}
.hero__container
{
    display: flex;
    flex-direction: row;
    gap: 56px;
}
.hero__about
{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    max-width: 500px;
    margin: 97px 0px;
}
.hero__title
{
    color: var(--title-color);
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    margin: 0px 0px 30px;
}
.hero__description
{
    color: var(--decription-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin: 0px 0px 20px;
}
.hero__buttons
{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.hero__main-btn
{
    min-width: 180px;
    min-height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    background: var(--link);
    border: none;
    border-radius: 4px;
}
.hero__link-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: var(--link);
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    font-size: 16px;
}
.hero__link-btn:hover
{
    cursor: pointer;
}
.hero__image
{
    max-width: 644px;
}
.features
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 100px;
}
.features__container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features__title
{
    color: var(--title-color);
    max-width: 539px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    margin: 0px 0px 50px;
}
.features__cards
{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0px 0px 70px;
}
.features__cards-item
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.features__cards-item-img
{
    max-width: 270px;
    margin: 0px 0px 30px;
}
.features__cards-item-title
{
    position: static;
    color: var(--title-color);
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    margin: 0px 0px 16px;
}
.features__cards-item-description
{
    color: var(--decription-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}
.features__signup
{
    min-width: 180px;
    min-height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
    background: var(--link);
    border: none;
    border-radius: 4px;
}
.features__bg
{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.footer
{
    display: block;
}
.footer__line
{
    margin: 0px 0px 70px;
    border: 1px solid rgba(188, 208, 229, 0.496913);;
}
.footer__container
{
    display: flex;
    flex-direction: row;
    gap: 130px;
    padding: 0px 0px 70px;
}
.footer__logo
{
    background-image: url(../src/img/logo.png);
    min-width: 200px;
    max-height: 32px;
}
.footer__links
{
    display: flex;
    flex-direction: column;
}
.footer__title
{
    max-width: 280px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0px 0px 30px;
}
.footer__links-text
{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 15px;
}
.footer__form
{
    display: flex;
    flex-direction: column;
}
.footer__input
{
    box-sizing: border-box;
    max-width: 340px;
    min-height: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--border);
    border: 1px solid var(--border);
    border-radius: 4px;
    margin: 0px 0px 30px;
}
.footer__button
{
    max-width: 180px;
    min-height: 50px;
    background: var(--link);
    border: 0px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}
.footer__button:hover
{
    cursor: pointer;
}